*{
    font-family: "Roboto", sans-serif;
}

header{
  background-color: #FF0080;
}

header span{
    color: white;
}

.nav-item a{
    color: white;
}

.nav-item a:visited{
    color: white;
}

.nav-item a:hover{
    color:#FFFF80 ;
}

#nav-butoon{
    background-color:#FFAA80;
}

.bi{
    color: #FF0080;
    font-size: 2em;
}

footer{
    background-color: #FFFF80;
    color: white;
}

.fondo{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.color{
    background-color: #FFFF80;
}
.style-control{
    padding: 20px;
    background-color: #FF0080;
    border-radius: 50%;
}

footer p,a{
    color: #FF0080;
}